<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><img src="images/auction-logo.png" alt="logo" class="d-inline-block align-top">Auct Boi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Category</a>
                <ul class="dropdown-menu multi-level" role="menu">
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#">Điện tử</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Điện thoại di động</a></li>
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Máy tính xách tay</a></li>
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Tivi</a></li>
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Loa</a></li>
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Tai nghe</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#">Thời trang</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Quần</a></li>
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Áo</a></li>
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Giày</a></li>
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Túi xách</a></li>
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Đồng hồ</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#">Thiết bị gia dụng</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Tủ lạnh</a></li>
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Quạt máy</a></li>
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Bếp</a></li>
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Máy hút bụi</a></li>
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Máy lạnh</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#">Phương tiện xe</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Xe đạp</a></li>
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Xe máy</a></li>
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Ô tô</a></li>
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Xe điện</a></li>
                            <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Siêu xe</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
    <div class="login-section">
        <a class="btn btn-outline-secondary text-white" href="login" role="button">Log in</a>
        <a class="btn btn-primary text-white" href="register" role="button">Sign up</a>
    </div>
</nav>