<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-category-tab" data-toggle="tab" href="#nav-category" role="tab" aria-controls="nav-category" aria-selected="true">Danh mục</a>
        <a class="nav-link" id="nav-product-tab" data-toggle="tab" href="#nav-product" role="tab" aria-controls="nav-product" aria-selected="false">Sản phẩm</a>
        <a class="nav-link" id="nav-account-tab" data-toggle="tab" href="#nav-account" role="tab" aria-controls="nav-account" aria-selected="false">Tài khoản</a>
        <a class="nav-link" id="nav-account-tab" data-toggle="tab" href="#nav-update" role="tab" aria-controls="nav-account" aria-selected="false">Danh sách xin nâng cấp</a>
    </div>
</nav>