<%- include('partials/header'); -%>
    <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>
        <section class="colored-section" id="title">
            <div class="container-fluid">
                <%- include('partials/navbar'); -%>
                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <h1 class="display-3 font-weight-bold big-heading">Go <span class="text-warning">Bid</span> Your Day And Get Your <span class="text-warning">Profits</span></h1>
                            <button class="btn btn-outline-warning btn-lg mt-3"><i class="fas fa-box"></i> Explore NOW! <i class="fas fa-arrow-right"></i></button>
                        </div>
                        <div class="col-lg-6">
                            <img src="images/bid-vector.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <form action="/" method="POST">
                        <div class="row justify-content-center mt-5">
                            <div class="col-md-8">
                                <div class="form">
                                    <i class="fas fa-search"></i><input type="text" class="form-control form-input" placeholder="Search anything...">
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </section>

        <!-- Features -->
        <section class="bg-white position-relative" id="features">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 p-3">
                        <i class="icon fas fa-check-double fa-4x"></i>
                        <h3 class="feature-title">Trustworthy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="col-lg-4 p-3">
                        <i class="icon fas fa-medal fa-4x"></i>
                        <h3 class="feature-title">Reliability</h3>
                        <p>Diam vulputate ut pharetra sit amet aliquam id. Ipsum dolor sit amet consectetur adipiscing elit pellentesque.</p>
                    </div>
                    <div class="col-lg-4 p-3">
                        <i class="icon far fa-eye-slash fa-4x"></i>
                        <h3 class="feature-title">Top Secure</h3>
                        <p>Eros in cursus turpis massa tincidunt dui ut ornare lectus. Vulputate odio ut enim blandit volutpat maecenas.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonials -->
        <section class="colored-section" id="testimonials">
            <div id="testimonial-carousel" class="carousel slide" data-ride="carousel" data-touch="true">
                <ol class="carousel-indicators">
                    <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonial-carousel" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active container-fluid">
                        <img src="images/christmas.png" class="d-block w-100" alt="christmas image">
                        <div class="d-flex justify-content-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-6" id="christmas-carousel">
                                    <h2 class="section-heading text-center">Big exclusive <span class="text-warning">OFFERS</span> and <span class="text-warning">GIFTS</span> &#127873; in-store on Christmas. Let's shop with us at &#10052; freezing &#10052; night</h2>
                                    <p class="lead display-4">&#127876; Merry Christmas &#127876;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item container-fluid">
                        <img src="images/red-bg-2022.png" class="d-block w-100" alt="new year image">
                        <div class="d-flex justify-content-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-6" id="newyear-carousel">
                                    <h2 class="section-heading text-center">Happy New Year 2022. Best wishes and have a great start for Tiger year &#128047;</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </section>

        <!-- Press -->
        <section class="bg-white" id="press">
            <img class="img-fluid press-logo" src="images/hcmus-logo.png" alt="hcmus logo">
            <img class="img-fluid press-logo" src="images/national-uni-logo.png" alt="national uni logo">
            <img class="img-fluid press-logo" src="images/agribank-logo.png" alt="agribank logo">
        </section>

        <!-- Products -->
        <section class="bg-white position-relative">
            <div id="testimonial-card" class="card text-center">
                <div class="card-header bg-light">
                    <h2 class="my-0">TOP 5 SẢN PHẨM GẦN KẾT THÚC</h2>
                </div>
                <div class="card-body">
                    <div class="card-deck">
                        <div class="card">
                            <img src="images/Adam.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Adam</h5>
                                <p class="card-text">Giá hiện tại: $</p>
                                <p class="card-text">Người đặt cao nhất: admin</p>
                                <p class="card-text">Giá mua ngay: $</p>
                                <p class="card-text">Ngày đăng: 1/1/2022</p>
                                <p class="card-text">Thời gian còn lại: 7d 15h 20m 10s</p>
                                <p class="card-text">Số lượt ra giá: 10</p>
                                <p class="more-info">
                                    <a href="#" class="text-decoration-none">Read more...</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/logo-clock/image1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Rolex</h5>
                                <p class="card-text">Giá hiện tại: $</p>
                                <p class="card-text">Người đặt cao nhất: admin</p>
                                <p class="card-text">Giá mua ngay: $</p>
                                <p class="card-text">Ngày đăng: 1/1/2022</p>
                                <p class="card-text">Thời gian còn lại: 7d 15h 20m 10s</p>
                                <p class="card-text">Số lượt ra giá: 10</p>
                                <p class="more-info">
                                    <a href="#" class="text-decoration-none">Read more...</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/logo-clock/image2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Rolex</h5>
                                <p class="card-text">Giá hiện tại: $</p>
                                <p class="card-text">Người đặt cao nhất: admin</p>
                                <p class="card-text">Giá mua ngay: $</p>
                                <p class="card-text">Ngày đăng: 1/1/2022</p>
                                <p class="card-text">Thời gian còn lại: 7d 15h 20m 10s</p>
                                <p class="card-text">Số lượt ra giá: 10</p>
                                <p class="more-info">
                                    <a href="#" class="text-decoration-none">Read more...</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/logo-clock/image3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Rolex</h5>
                                <p class="card-text">Giá hiện tại: $</p>
                                <p class="card-text">Người đặt cao nhất: admin</p>
                                <p class="card-text">Giá mua ngay: $</p>
                                <p class="card-text">Ngày đăng: 1/1/2022</p>
                                <p class="card-text">Thời gian còn lại: 7d 15h 20m 10s</p>
                                <p class="card-text">Số lượt ra giá: 10</p>
                                <p class="more-info">
                                    <a href="#" class="text-decoration-none">Read more...</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/logo-clock/image4.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Rolex</h5>
                                <p class="card-text">Giá hiện tại: $</p>
                                <p class="card-text">Người đặt cao nhất: admin</p>
                                <p class="card-text">Giá mua ngay: $</p>
                                <p class="card-text">Ngày đăng: 1/1/2022</p>
                                <p class="card-text">Thời gian còn lại: 7d 15h 20m 10s</p>
                                <p class="card-text">Số lượt ra giá: 10</p>
                                <p class="more-info">
                                    <a href="#" class="text-decoration-none">Read more...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-header bg-light">
                    <h2 class="my-0">TOP 5 SẢN PHẨM CÓ NHIỀU LƯỢT RA GIÁ NHẤT</h2>
                </div>
                <div class="card-body">
                    <div class="card-deck">
                        <div class="card">
                            <img src="images/Adam.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Adam</h5>
                                <p class="card-text">Giá hiện tại: $</p>
                                <p class="card-text">Người đặt cao nhất: admin</p>
                                <p class="card-text">Giá mua ngay: $</p>
                                <p class="card-text">Ngày đăng: 1/1/2022</p>
                                <p class="card-text">Thời gian còn lại: 7d 15h 20m 10s</p>
                                <p class="card-text">Số lượt ra giá: 10</p>
                                <p class="more-info">
                                    <a href="#" class="text-decoration-none">Read more...</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/logo-clock/image1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Rolex</h5>
                                <p class="card-text">Giá hiện tại: $</p>
                                <p class="card-text">Người đặt cao nhất: admin</p>
                                <p class="card-text">Giá mua ngay: $</p>
                                <p class="card-text">Ngày đăng: 1/1/2022</p>
                                <p class="card-text">Thời gian còn lại: 7d 15h 20m 10s</p>
                                <p class="card-text">Số lượt ra giá: 10</p>
                                <p class="more-info">
                                    <a href="#" class="text-decoration-none">Read more...</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/logo-clock/image2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Rolex</h5>
                                <p class="card-text">Giá hiện tại: $</p>
                                <p class="card-text">Người đặt cao nhất: admin</p>
                                <p class="card-text">Giá mua ngay: $</p>
                                <p class="card-text">Ngày đăng: 1/1/2022</p>
                                <p class="card-text">Thời gian còn lại: 7d 15h 20m 10s</p>
                                <p class="card-text">Số lượt ra giá: 10</p>
                                <p class="more-info">
                                    <a href="#" class="text-decoration-none">Read more...</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/logo-clock/image3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Rolex</h5>
                                <p class="card-text">Giá hiện tại: $</p>
                                <p class="card-text">Người đặt cao nhất: admin</p>
                                <p class="card-text">Giá mua ngay: $</p>
                                <p class="card-text">Ngày đăng: 1/1/2022</p>
                                <p class="card-text">Thời gian còn lại: 7d 15h 20m 10s</p>
                                <p class="card-text">Số lượt ra giá: 10</p>
                                <p class="more-info">
                                    <a href="#" class="text-decoration-none">Read more...</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/logo-clock/image4.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Rolex</h5>
                                <p class="card-text">Giá hiện tại: $</p>
                                <p class="card-text">Người đặt cao nhất: admin</p>
                                <p class="card-text">Giá mua ngay: $</p>
                                <p class="card-text">Ngày đăng: 1/1/2022</p>
                                <p class="card-text">Thời gian còn lại: 7d 15h 20m 10s</p>
                                <p class="card-text">Số lượt ra giá: 10</p>
                                <p class="more-info">
                                    <a href="#" class="text-decoration-none">Read more...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-header bg-light">
                    <h2 class="my-0">TOP 5 SẢN PHẨM CÓ GIÁ CAO NHẤT</h2>
                </div>
                <div class="card-body">
                    <div class="card-deck">
                        <div class="card">
                            <img src="images/Adam.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Adam</h5>
                                <p class="card-text">Giá hiện tại: $</p>
                                <p class="card-text">Người đặt cao nhất: admin</p>
                                <p class="card-text">Giá mua ngay: $</p>
                                <p class="card-text">Ngày đăng: 1/1/2022</p>
                                <p class="card-text">Thời gian còn lại: 7d 15h 20m 10s</p>
                                <p class="card-text">Số lượt ra giá: 10</p>
                                <p class="more-info">
                                    <a href="#" class="text-decoration-none">Read more...</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/logo-clock/image1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Rolex</h5>
                                <p class="card-text">Giá hiện tại: $</p>
                                <p class="card-text">Người đặt cao nhất: admin</p>
                                <p class="card-text">Giá mua ngay: $</p>
                                <p class="card-text">Ngày đăng: 1/1/2022</p>
                                <p class="card-text">Thời gian còn lại: 7d 15h 20m 10s</p>
                                <p class="card-text">Số lượt ra giá: 10</p>
                                <p class="more-info">
                                    <a href="#" class="text-decoration-none">Read more...</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/logo-clock/image2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Rolex</h5>
                                <p class="card-text">Giá hiện tại: $</p>
                                <p class="card-text">Người đặt cao nhất: admin</p>
                                <p class="card-text">Giá mua ngay: $</p>
                                <p class="card-text">Ngày đăng: 1/1/2022</p>
                                <p class="card-text">Thời gian còn lại: 7d 15h 20m 10s</p>
                                <p class="card-text">Số lượt ra giá: 10</p>
                                <p class="more-info">
                                    <a href="#" class="text-decoration-none">Read more...</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/logo-clock/image3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Rolex</h5>
                                <p class="card-text">Giá hiện tại: $</p>
                                <p class="card-text">Người đặt cao nhất: admin</p>
                                <p class="card-text">Giá mua ngay: $</p>
                                <p class="card-text">Ngày đăng: 1/1/2022</p>
                                <p class="card-text">Thời gian còn lại: 7d 15h 20m 10s</p>
                                <p class="card-text">Số lượt ra giá: 10</p>
                                <p class="more-info">
                                    <a href="#" class="text-decoration-none">Read more...</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/logo-clock/image4.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Rolex</h5>
                                <p class="card-text">Giá hiện tại: $</p>
                                <p class="card-text">Người đặt cao nhất: admin</p>
                                <p class="card-text">Giá mua ngay: $</p>
                                <p class="card-text">Ngày đăng: 1/1/2022</p>
                                <p class="card-text">Thời gian còn lại: 7d 15h 20m 10s</p>
                                <p class="card-text">Số lượt ra giá: 10</p>
                                <p class="more-info">
                                    <a href="#" class="text-decoration-none">Read more...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('partials/footer'); -%>