/* Settings pane */
#settings-pane {
  padding: 3% 15%;
  background-color: #f8f9fd;
  font-family: "Montserrat";
}

.tab-pane {
  padding: 3%;
}

.category-card {
  padding: 15px;
}

#editBtn:hover {
  color: #007bff;
  background-color: transparent;
}

#plusBtn .fas {
  transition: transform 1s ease-in-out;
}

#plusBtn .fas:hover {
  transform: rotate(180deg);
}

.table-striped tbody tr:nth-of-type(2n) {
  background-color: #bee5eb;
}

.table-striped tbody tr:nth-of-type(2n + 1) {
  background-color: #f8f9fd;
}

.table thead th {
  border-top: 2px solid;
  border-bottom: 2px solid;
}
