.colored-section {
  background-color: #142f43;
  color: #fff;
}

/* Bootstrap Navigation Bar */
.navbar-brand {
  font-family: "MonteCarlo", cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 400;
}

.nav-item {
  padding: 0 18px;
}

/* Dropdown menu - submenu */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

/* Before Login */
.login-section {
  padding: 10px;
  text-align: center;
}

a.login {
  margin: 0px 5px;
}

a.signup {
  margin: 0px 5px;
}

/* After Login */
#userIconBtn {
  border-color: transparent;
  box-shadow: none;
}

@media (max-width: 1280px) {
  .login-section {
    text-align: right;
  }

  a.login {
    margin: 5px 5px;
  }

  a.signup {
    margin: 5px 5px;
  }
}
