body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  line-height: 1.5;
}

/* Sections */
.colored-section {
  background-color: #142f43;
  color: #fff;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15%;
  text-align: left;
}

/* Search bar */
.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}

/* Features Section */
.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #ffab4c;
  margin-bottom: 1rem;
}

/* Responsive */
@media (max-width: 1028px) {
  .login-section {
    margin: 10px auto;
  }

  #title {
    text-align: center;
  }
}

/* Black: 142F43
Yellow: FFAB4C */
