body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Sections */
.colored-section {
  background-color: #142f43;
  color: #fff;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15%;
  text-align: left;
}

/* Search bar */
.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}

/* Features Section */
.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #ffab4c;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #142f43;
}

/* Testimonials Section */
.carousel-item.container-fluid {
  padding: 0;
}

.carousel-item .row {
  position: absolute;
  top: 15%;
}

#christmas-carousel .section-heading {
  color: #292c6d;
}

#christmas-carousel p {
  font-family: "Corinthia";
}

#newyear-carousel .section-heading {
  font-family: "Corinthia";
  font-size: 6rem;
}

/* Press Section */
.press-logo {
  width: 15%;
  margin: 20px 20px 40px;
}

/* Products Section */
.card-img-top {
  height: 11vw;
}

.card-body {
  text-align: left;
}

.card-title {
  text-align: center;
}

.more-info {
  text-align: right;
  margin-bottom: 0;
}

/* Footer */
#footer .container-fluid {
  padding: 3% 15%;
}

.about-website {
  padding: 0;
  list-style-position: inside;
}

.about-website a {
  text-decoration: none;
  color: #8f8f8f;
  line-height: 2;
}

.about-website a:hover {
  color: white;
}

.about-website li::marker {
  color: #ffab4c;
}

.comp-info span {
  float: left;
  margin-right: 10px;
  color: #ffab4c;
}

.social-media-follow {
  text-align: right;
}

.social-icon {
  color: #8f8f8f;
  margin-left: 10px;
}

.social-icon.instagram-icon:hover {
  color: #30618a;
}

.social-icon.facebook-icon:hover {
  color: #3b5998;
}

.social-icon.youtube-icon:hover {
  color: #c4302b;
}

.social-icon.twitter-icon:hover {
  color: #00acee;
}

/* Responsive */
@media (max-width: 860px) {
  .login-section {
    margin: 10px auto;
  }

  #title {
    text-align: center;
  }

  #christmas-carousel .section-heading {
    font-size: 1rem;
  }

  #newyear-carousel .section-heading {
    font-size: 2rem;
  }

  .card-img-top {
    height: 256px;
  }

  .social-media-follow {
    text-align: left;
  }

  .social-icon {
    margin-left: 0;
    margin-right: 10px;
  }
}

/* Black: 142F43
Yellow: FFAB4C */
